* {
    margin: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

html {
    height: max-content;
    width: max-content;
    background-color: #ecf0f9;
}

body {
    position: absolute;
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header_nav header_nav"
        "main aside"
        "footer footer";
    font-family: sans-serif;
}

.hidden {
    display: none;
}

/**********************************************************************/
header {
    position: relative;
    grid-area: header_nav;
    display: flex;
    height: 3.2em;
    width: 95.8vw;
    font-size: 1.5em;
    text-align: center;
    padding: .5em 1em;
    margin: 0 auto;
    background-color: #203560;  /*25% of #f6f8fc (base)*/
}

.logo{
    width: 2em;
    object-position: -.311rem 0;
    margin-top: -.6rem;
}

nav {
    width: 90vw;
    font-size: 20px;
    padding: .5em 1em;
    margin-top: 0.5em;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
}

.game,
.quiz,
.article {
    position: absolute;
    top: 2em;
    background-color: white;
    border-radius: 0 1em 0.5em 1em;
    width: 9em;
    margin: 1em 0 0 1.35em;
    padding: .5em;
    z-index: 1;
}

#op1:checked~.game,
#op2:checked~.quiz,
#op3:checked~.article {
    display: block;
}

.hidden li {
    display: flex;
    margin-left: 1.1em;
    padding: 4px 0;
    justify-content: start;
}

.hidden li::before {
    content: "🔸";
    position: absolute;
    left: 0;
    margin-top: -4px;
}

#game::before {
    content: "🎰";
}

#quiz::before {
    content: "🤔";
}

#art::before {
    content: "📖";
}

.hidden li:hover *:not(*:hover) {
    filter: blur(1px);
}

main {
    display: flex;
    width: 90vw;
    font-family: 'Montez', cursive;
    padding: 4em 1em;
    margin: 0 auto 0 4em;
    background-color: #f6f8fc;
}

article {
    position: relative;
    grid-area: main;
    font-size: x-large;
    width: 70vw;
    padding: .5em 4px;
}

.presentation_img{
    display: flex;
    justify-content: space-evenly;
}

.pres_img{
    height: 6em;
    width: 6em;
    top: 3.5em;
    right: 12em;
    border-radius: 8px;
    border: 2px solid black;
    object-fit: cover;
}

.desc::before {
    content: "🖋️";
    font-size: smaller;
}

.desc {
    font-size: 25px;
    background: linear-gradient(to left, #406abf 0%, #ffffff 90%);
}

aside {
    position: relative;
    grid-area: aside;
    width: 20vw;
    padding: .5em 4px;
}

aside p {
    margin: 0 auto;
    width: 65%;
    font-size: xx-large;
}



footer {
    position: relative;
    grid-area: footer;
    font-family: 'Noto Sans Mayan Numerals', cursive;
    display: flex;
    justify-content: right;
    width: 96.8vw;
    padding: .5em 1em;
    margin: 0 auto;
    background-color: #406ABF;
}