html{
    background-color: black;
    margin-left: 32%;
}

body{
    height:585px;
    width: 425px;
    font-family: cursive;
    margin: 5;
    border: 2px solid blue;
    border-radius: 10px;
}

header{
    color:white;
    font-family: 'RocknRoll One';
    text-align: center;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}

header #current_score{
    text-align: left;
    margin-left: 10%;
}

main{
    background-color: grey;
    margin: 3px;
    height: 465px;
    width: 420px;
}

footer{
    padding: 10px;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}