* {
    outline: 2px solid fuchsia;
    transition: 0.2s;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    position: absolute;
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header header"
        "nav nav"
        "main aside"
        "footer footer";
    font-family: sans-serif;
    background-color: white;
}

/**********************************************************************/
header {
    position: relative;
    grid-area: header;
    width: 90vw;
    font-size: 1.5em;
    text-align: center;
    padding: .5em 1em;
    margin: 0 auto;
}

nav {
    position: relative;
    grid-area: nav;
    width: 90vw;
    height: 50px;
    font-size: 20px;
    padding: .5em 1em;
    margin: 0 auto;
}

nav * {
    display: flex;
    justify-content: space-evenly;
}

main {
    display: flex;
    width: 90vw;
    padding: .5em 1em;
    margin: 0 auto 0 4em;
}

article {
    position: relative;
    grid-area: main;
    width: 70vw;
    padding: .5em 4px;
}

aside {
    position: relative;
    grid-area: aside;
    width: 20vw;
    padding: .5em 4px;
}

footer {
    position: relative;
    grid-area: footer;
    width: 90vw;
    height: 120px;
    padding: .5em 1em;
    margin: 0 auto;
}