* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: max-content;
    width: max-content;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
        "main main";
    margin-left: auto;
}

header {
    grid-area: header;
    color: white;
    background-color: royalblue;
    font-family: sans-serif;
    text-align: center;
    width: 50em;
    margin: auto;
}

#bigTitle {
    font-size: 3em;
}

main {
    grid-area: main;

}

#scène {
    position: relative;
    border: 4px royalblue solid;
    height: 600px;
    width: 960px;
    margin: 2px auto;
    overflow: hidden;
}

#ball {
    position: absolute;
    background-color: rgb(87, 124, 236);
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

#paddle {
    position: absolute;
    top: 585px;
    background-color: rgb(87, 124, 236);
    height: 16px;
    width: 96px;
    border-radius: 25% 25% 0 0;
}

footer {
    position: absolute;
    right: 2em;
    bottom: 3px;
    
}

footer button {
    height: 2em;
    width: 8em;
    background-color: royalblue;
    border: 2px solid rgba(64, 104, 224, 0.25);
}

footer button a{
    color: white;
}